
$color_1: black;
$color_2: red;
$color_3: rgb(141, 190, 233);
$color_4: rgb(108, 94, 233);
$color_5: rgb(149, 14, 91);
$color_6: rgb(238, 172, 18);
$color_7: white;
$color_8: aliceblue;
$color_9: darkgreen;
$color_10: darkred;
$color_11: darkblue;
$color_12: darkgrey;
$font-family_1: "Times New Roman", Times, serif;
$font-family_2: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$font-family_3: Arial, Helvetica, sans-serif;
$font-family_4: Calisto MT, Bookman Old Style, Bookman, Goudy Old Style, Garamond, Hoefler Text, Bitstream Charter, Georgia, serif;
$font-family_5: 'Times New Roman', Times, serif;
$background-color_1: rgb(209, 238, 193);
$background-color_2: rgb(61, 162, 17);
$background-color_3: rgb(217, 131, 167);
$background-color_4: rgb(196, 218, 240);
$background-color_5: rgb(48, 45, 45);
$background-color_6: rgb(9, 36, 8);
$background-color_7: rgb(111, 128, 122);
$background-color_8: teal;
$background-color_9: rgb(218, 141, 17);

@mixin dicePackaging()
{
	display: block;
	border: solid $background-color_3 5px;
	margin: 1%;
	background-color: $background-color_9;
}


@mixin imgborder()
{
	border: solid $background-color_3 3px;
}


@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes wobble {
	0% {
		transform: rotate(6deg);
	}
	50% {
		transform: rotate(-6deg);
	}
	100% {
		transform: rotate(6deg);
	}
}
* {
	margin: 0;
	box-sizing: border-box;
}
nav {
	display: block;
	height: fit-content;
	width: auto;
	background-color: $background-color_1;
	font-family: $font-family_1;
	padding-top: 5px;
	border: 5px solid rgb(32, 11, 81);
}
ul {
	display: grid;
	grid-template-columns: auto;
	align-items: center;
	justify-items: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li {
	float: left;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}
.active1 {
	background-color: $background-color_2;
	padding: 0%;
}
a {
	&:hover {
		background-color: $background-color_3;
	}
}
footer {
	font-size: 0.9rem;
	font-style: italic;
	color: $color_1;
	background-color: $background-color_4;
	margin: 0%;
	text-align: center;
}
p {
	font-size: 1.5rem;
	color: $color_2;
	font-size: 1.0em;
	color: $color_12;
}
h1 {
	text-align: center;
	font-size: 2em;
	margin-bottom: 10px;
	margin-top: 5px;
	font-family: $font-family_2;
	color: $color_3;
}
h2 {
	text-align: center;
	font-size: 1.0em;
	font-family: $font-family_3;
	color: $color_4;
}
h3 {
	text-align: center;
	font-size: 1.0em;
	font-family: $font-family_3;
	color: $color_5;
}
h4 {
	text-decoration: underline;
	text-align: center;
	font-size: 2.9em;
	font-family: $font-family_4;
	color: $color_6;
}
button {
	background-color: $background-color_3;
	padding: 5px;
}
body {
	font-family: $font-family_5;
	color: $color_7;
	background-color: $background-color_5;
}
header {
	background-color: $background-color_6;
	width: 100%;
}
.grid-container {
	display: grid;
	grid-template-columns: 100%;
	grid-template-areas: "header" "nav" "user" "array" "footer";
}
.gridheader {
	grid-area: header;
}
.gridnav {
	grid-area: nav;
}
.griduser {
	width: 100%;
	grid-area: user;
	display: grid;
	text-align: center;
}
.gridarray {
	grid-area: array;
}
.gridprocessing {
	grid-area: processing;
}
.description {
	border: 1px solid salmon;
}
.gridfooter {
	grid-area: footer;
}
.textexplainer {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	color: $color_8;
	font-size: 0.7em;
	border: 2px solid lightgrey;
}
#start {
	padding: 5px;
	color: $color_9;
	border: 3px solid green;
}
#stop {
	padding: 5px;
	color: $color_10;
	border: 3px solid red;
}
#close {
	padding: 5px;
	color: $color_11;
	border: 2px solid blue;
	bottom: 5%;
}
.formbody {
	background-color: $background-color_7;
}
.popup {
	position: absolute;
	display: none;
	width: 85%;
	height: fit-content;
	border: 5px solid black;
}
.popup1 {
	background-color: $background-color_8;
	position: absolute;
	display: none;
	width: 85%;
	height: fit-content;
	border: 5px solid black;
}
#content2 {
	grid-column: 2;
	justify-content: center;
	border: 3px solid black;
	align-items: center;
}
img {
	@include imgborder();
}
label {
	font-size: 0.65em;
	color: $color_9;
}
#show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}
.wrapper {
	display: flex;
	position: relative;
	justify-items: center;
	align-items: center;
	min-height: 800px;
	width: fit-content;
	height: 95%;
	border: 5px solid $background-color_1;
}
.gamebody {
	display: grid;
	grid-template-columns: 25% 50% 25%;
	grid-template-rows: 19% 75% 7%;
	
	min-width: fit-content;
	min-height: 750px;
	overflow: hidden;
}
#userdice {
	margin-top: 5%;
	grid-column: 1;
	grid-row: 1;
}
//mixin usage
.dicepackage {
	@include dicePackaging();
}
#userinfo {
	display: grid;
	justify-content: space-evenly;
	align-items: center;
	border: 1px solid lightgrey;
	grid-column: 1;
	grid-row: 2;
	align-items: center;
	overflow: hidden;
}
#usersidebuttons {
	margin-top: 2%;
	grid-column: 1;
	grid-row: 3;
}
#middletitle {
	margin-top: 2%;
	
	grid-column: 2;
	grid-row: 1;
}
#middlepicture {
	display: grid;
	justify-content: space-evenly;
	align-items: center;
	border: 1px solid lightgrey;
	grid-column: 2;
	grid-row: 2;
	overflow: hidden;
}
#middlebutton {
	margin-top: 2%;
	grid-column: 2;
	grid-row: 3;
}
#opponentdice {
	margin-top: 5%;
	margin-top: 25px;
	grid-column: 3;
	grid-row: 1;
}
#opponentinfo {
	display: grid;
	justify-content: space-evenly;
	align-items: center;
	border: 1px solid lightgrey;
	grid-column: 3;
	grid-row: 2;
	overflow: hidden;
}
#opponentbuttons {
	margin-top: 2%;
	grid-column: 3;
	grid-row: 3;
}
.disabled {
	visibility: none;
	display: none;
}
.wobbler {
	margin: 0.5%;
}
.wobbleractive {
	animation: wobble 0.5s infinite;
}
@media only screen and (max-width: 700px) {
	.grid-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas: 
		"header" 
		"nav" 
		"user" 
		"array" 
		"footer";
	}


	.gamebody {
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: auto auto auto auto auto auto auto auto auto;
		min-width: fit-content;
		min-height: fit-content;
		overflow: hidden;
	}

	#userdice, #userinfo, #usersidebuttons,
	#middletitle, #middlepicture, #middlebuttons,
	#opponentdice, #opponentinfo, #opponentbuttons
	{
		grid-column: 1;
	}
	#userdice
	{
		grid-row: 1;
	}

	#userinfo
	{
		grid-row:2;
	}

	#usersidebuttons
	{
		grid-row:3;
	}

	#middletitle
	{
		grid-row:4;
	}
	#middlepicture
	{
		grid-row:5;
	}
	#middlebuttons
	{
		grid-row:6;
	}
	#opponentdice
	{
		grid-row:7;
	}
	#opponentinfo
	{
		grid-row:8;
	}
	#opponentbuttons
	{
		grid-row:9;
	}
	h4 
	{
		font-size: 1.2em;
	}
	.gridimage {
		margin-left: 5px;
	}
	ul {
		display: grid;
		grid-template-columns: 1fr;
	}
}
@media only screen and (min-width: 1094px) {
	.grid-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas: 
		"header" 
		"nav" 
		"user" 
		"array" 
		"footer";
	}

	.wrapper
	{
		
		width: 100%;
	}
	.gamebody
	{
		width: 100%;
	}


}
